certifi>=2023.07.22
charset-normalizer~=3.0.1
idna~=3.4
numpy~=1.24.2
oauthlib~=3.2.2
pandas~=1.5.3
python-dateutil~=2.8.2
python-dotenv~=0.21.1
pytz~=2022.7.1
requests>=2.31.0
requests-oauthlib~=1.3.1
six~=1.16.0
tweepy~=4.12.1
urllib3~=1.26.14
vaderSentiment~=3.3.2
